[Desktop Entry]
Name=MatrixCode 1999 CRT
Comment=Original-era digital code rain for XScreenSaver
Exec=/usr/libexec/xscreensaver/matrixcode -root
TryExec=/usr/libexec/xscreensaver/matrixcode
Terminal=false
Type=Application
Categories=Screensaver;
NoDisplay=true
